:root {
    --poppins : 'Poppins', sans-serif;
    --thin : 100 ;
    --extralight : 200 ;
    --light : 300 ;
    --regular : 400 ;
    --medium : 500 ;
    --semibold : 600 ;
    --bold : 700 ;
    --extrabold : 800 ;
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --height: 5rem;
    --btn-width: 6rem;
}

body {
    padding: 0;
    margin: 0;
}

.sidebar {
    position: absolute;
    width: 18em;
    height: 100%;
    top: 0;
    background-color: #fff;
    visibility: visible;
    color: #fff;
    border-right: 1px solid #2f2f2f30;
}

.sidebar header {
    background-color: #4fa6e8;
    width: 87%;
    display:block;
    padding: 0.7em	1em;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: var(--medium) ;
}

.sidebar-profile {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    padding: 0em 1em 5px;
    border-bottom:  1px solid #2f2f2f30;
}

.sidebar-profile img {
    vertical-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 20px;
}

.sidebar-profile-information {
    padding-left: 15px;
}

.sidebar-profile-information h3 {
    padding: 0;
    color: #000000;
    font-size: 16px;
    font-family: var(--poppins);
    margin-bottom: -7px;
}

.sidebar-profile-information p {
    color: #00000090;
    font-size: 12px;
    font-family: var(--poppins);

}

.last-profile-sidebar {
    margin-top: -10px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 35px;
    padding-top: 15px;
}

.sidebar-nav ul li a {
    font-family: var(--poppins);
    font-size: 13px;
    text-decoration: none;
    padding-left: 8px;
}

.active-item {
    background-color: #49a8ed;
}

.active-item a{
    color: #fff;
}

.active-item img {
    width: 23px;
    height: 23px;
    padding-left: 20px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(19deg) brightness(103%) contrast(101%);
}

.unactive-item a {
    color: #171717;
}

.unactive-item img {
    width: 23px;
    height: 23px;
    padding-left: 20px;
}


/* ------------------------------------------ navbar style -------------------------------------------------- */

.navbar {
    background-color: #3176b7;
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: flex-end;
}

.navbar p {
    color: #fff;
    font-family: var(--poppins);
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
}

.btn-menu {
    margin-right: 80.5rem;
    background-color: inherit;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.btn-menu img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(19deg) brightness(103%) contrast(101%);
    width: 25px;
    -webkit-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(19deg) brightness(103%) contrast(101%);
}

#profile-img {
    width: 38px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    vertical-align: center;
    cursor: pointer;
    box-shadow: 2px 3px #17171760;
}

.btn-dropdown-menu {
    background-color: inherit;
    border: none;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.btn-dropdown-menu img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(19deg) brightness(103%) contrast(101%);
    width: 12px;
}

/* ------------------------------------------ dashboard style -------------------------------------------------- */

.dashboard-container {
    margin-left: 18em;
    padding: 30px;
}

.header-dashboard {
    display: flex;
    flex-direction: row;
}

.header-dashboard h1 {
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: var(--regular);
}

.header-dashboard img {
    width: 26px;
    height: 26px;
    margin-top: 13px;
    margin-right: 10px;
}

.bold-text {
    font-weight: var(--semibold);
}

.card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #17171760;
    height: 300px;
}

.card h3 {
    font-family: var(--poppins);
    font-weight: var(--medium);
}

.ttd-naskah-container {
    display: flex;
    margin-top: px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.ttd-naskah-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ttd-naskah-container div h3 {
    font-size: 28px;
    font-family: var(--poppins);
}

.ttd-naskah-container div p {
    display: block;
}

.ttd-naskah-container div img {
    width: 40px;
}
